RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !index
RewriteRule (.*) index.html [L]

RewriteCond %{HTTP_HOST} ^www.choobert.com [NC]
RewriteRule ^(.*)$ http://choobert.com/$1 [L,R=301]
