@import 'imports';

#contact {
  margin-right: auto;
  margin-left: auto;
  border: $base-border;
  border-radius: $base-border-radius;
  max-width: 500px;
  overflow: hidden;

  .title {
    background-color: $light-gray;
    padding: 15px;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 600;
  }

  .form-container {
    padding: 15px;
  }

  .error {
    border-color: #ff0000;
  }
}
