@import 'imports';

#blog {
  background-color: $white;

  .entry {
    margin: 10px;

    .center {
      text-align: center;
    }

    .text {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    h3 {
      margin-top: 40px;
    }
  }
}
