<div id="blog">

  <div class='section' ng-repeat='entry in blog.blog() track by entry.url'>
    <div class='title'>{{entry.title}}</div>
    <blog-entry url='entry.url'></blog-entry>

    <!-- <div class='entry' ng-repeat='section in entry.content track by entry.date'>
      <div class='{{section.type}}'>
        <h3 ng-if='section.title != null'>{{section.title}}</h3>
        <div ng-bind-html='section.content.join("\n")'></div>

        <youtube-video ng-if='section.youtube != null'video-id="section.youtube"></youtube-video>

      </div> -->
    </div>
  </div>
</div>
