@import 'imports';

#about {
  margin-right: auto;
  margin-left: auto;
  border: $base-border;
  border-radius: $base-border-radius;
  background-image: none;
  width: 500px;
  overflow: hidden;

  .title {
    background-color: $light-gray;
    padding: 15px;
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: 600;
  }

  .container {
    padding: 15px;

    img {
      width: 300px;
    }
  }
}
