@import 'imports';

$project-details-width: 200px;

.project-main {
  float: left;
  width: 675px;
}

.project-carousel {
  margin-right: auto;
  margin-left: auto;
  width: 720px;
}

.project-sidebar {
  float: right;
  border-bottom: 2px solid $light-gray;
  border-left: 2px solid $light-gray;
  border-bottom-left-radius: 5px;
  width: $project-details-width;
  height: 100%;
  font-family: $base-font-family;

  .project-details-header {
    background-color: $light-gray;
    width: $project-details-width;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: $base-font-size;
    font-weight: 600;
  }

  .project-details-info {

    .label {
      float: left;
      width: 50px;
    }

    .data {
      float: right;
      width: 140px;
      text-align: center;
    }
  }
}
