@import 'imports';

$project-details-width: 200px;

.project-carousel {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  max-width: 720px;
}

.project-main {
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  width: 100%;

  h1 {
    text-align: center;
    color: $dark-blue;
  }

  iframe {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}
