@import 'imports';

.container {
  background-image: url('/assets/background.png');
  width: 100%;
  height: 100%;

  .frame {
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 50px;
    max-width: 1200px;

    .content-container {
      background-color: $white;
      padding: 15px;

      .section {
        margin-right: auto;
        margin-bottom: 15px;
        margin-left: auto;
        border: $base-border;
        border-radius: $base-border-radius;
        width: 900px;
        overflow: hidden;
      }

      .title {
        background-color: $light-gray;
        padding: 15px;
        font-family: $base-font-family;
        font-size: $base-font-size;
        font-weight: 600;
      }
    }
  }
}
