@import 'imports';

.hero {
  background-color: $hero-background;
  width: 100%;
  height: 375px;

  .hero-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    height: auto;
  }

  .tagline {
    color: $white;
    text-align: center;
  }
}
